{% extends 'classroom/base.html' %}

{% block title %}student DETAIL
{% endblock title %}

{% block body %}
<h1>{{ student.name }}</h1>
<p>
   <b>Age :</b> {{ student.age }}
</p>
<p>
   <b>Major :</b> {{ student.major }}
</p>
<div>
    <a href="{% url 'classroom:list' %}">
        <button>HOME<span>&#x1F3E1;</span></button>
    </a>
</div>

<div>
    <a href="{% url 'classroom:edit' student.id %}">
        <button>EDIT</button>
    </a>
</div>

<div>
    <form action="{% url 'classroom:delete' student.id %}" method="POST">
        {% csrf_token %}
        <input id = "delButton" type="submit" value="DELETE" onclick="return confirm('ARE YOU SURE?')">
    </form>
</div>
<br>
<hr>
<h3>Student list</h3>
<ul>
    {% for student in students %}
        <li>
            <a href="{% url 'classroom:detail' student.id %}">{{student.id}} {{student.name}}</a>
        </li>
    {% endfor %}
</ul>

{% endblock body %}