{% extends 'base.html' %}

{% block title %}Article detail{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div>
    <small>created : {{article.created_at}}</small>
    <small>updated : {{article.updated_at}}</small>
    </div>
    <p>
        {{ article.content }}
    </p>
    <div>
        <a href="{% url 'board:edit_article' article.id %}">
        <!-- <a href="/board/articles/{{article.id}}/edit -->
            <button>Edit</button>
        </a>
    </div>
    <div>
        {% comment %} <a href="{% url 'board:delete' article.id %}">
            <button>Delete</button>
        </a> 
        a 태그는 get 요청이라 DB 건드리는 delete에는 맞지 않다
        {% endcomment %}
        <form action="{% url 'board:delete_article' article.id %}" method="POST">
            {% csrf_token %}
            <input id = "delButton" type="submit" value="삭제" onclick="return confirm('정말로?')">
        </form>
    </div>
    <div>
        <a href="{% url 'board:article_list' %}">
            <button>목록으로</button>
        </a>
    </div>

    <hr>
    {% include 'board/_comment.html' %}
    
{% endblock %}

