{% extends 'base.html' %}

{% block title %}Article list
{% endblock title %}

{% block body %}
<h1>This is Article list</h1>
    <a href="{% url 'board:new_article' %}">
        <button>New article</button>
    </a>

{% if articles %} <!--articles에 데이터가 존재할 때만 for문 돌도록-->
    <ul>
        {% for article in articles %} <!-- [<A1>, <A2>, <A3>, ...] -->
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </li> <!-- <A1> -->
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

